<h1>Author: <%= @author.name %></h1>
<p>Books: <% @author.books.each do |book| %></p>
  <li id="book-<%= book.id %>">
    <uo><%= book.title %></uo>
  </li>
<% end %>
<p>Average number of pages written: <%= @author.average_pages %></p>
